# <span style="color:red">Plantilla de Pre procesado </span>

In [1]:
#Importando librerías
import numpy  as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import LabelEncoder, OneHotEncoder, StandardScaler
from sklearn.compose import ColumnTransformer
from sklearn.model_selection import train_test_split

In [2]:
#Importando el dataset
dataset = pd.read_csv('Data.csv' )#Aqui se puede poner la ruta

In [3]:
pd.options.display.float_format = '{:.0f}'.format #Aquí se le da formato a los datos

In [4]:
dataset

   Country  Age  Salary Purchased
0   France   44   72000        No
1    Spain   27   48000       Yes
2  Germany   30   54000        No
3    Spain   38   61000        No
4  Germany   40     nan       Yes
5   France   35   58000       Yes
6    Spain  nan   52000        No
7   France   48   79000       Yes
8  Germany   50   83000        No
9   France   37   67000       Yes

# <span style = "color:red"> Creación de variables

In [5]:
#x = matriz de variables independientes
#y = matriz de variables dependientes
#i -> index
#loc -> Localization
#Values es para extraer los valores del dataframe, mas no las posiciones
x = dataset.iloc[:,:-1].values #Localiza elementos (filas y columnas por posición)
y = dataset.iloc[:,3].values
y

array(['No', 'Yes', 'No', 'No', 'Yes', 'Yes', 'No', 'Yes', 'No', 'Yes'],
      dtype=object)

# <span style = "color:red"> Tratamiendo de los NaN

In [6]:
#Tratamiento de los Nan
#SimpleImputer es la clase
#imputer es el objeto 
#axis = 0 (1) es la columna (fila)
imputer = SimpleImputer(missing_values=np.nan, strategy='mean')
imputer = imputer.fit(x[:,1:3])
x[:,1:3] = imputer.transform(x[:,1:3])

# <span style = "color:red"> Datos categóricos

In [7]:
#1 Primero se asigna una categoría a los países y se representan con números
#2 Luego esa codificación se asigna a las columnas deseadas
#3 Posteriomente se crean las variables dummy para quitar la ordinalidad de las categorias creadas
labelencoder_x = LabelEncoder() #1
x[:,0] = labelencoder_x.fit_transform(x[:,0]) #2


ct = ColumnTransformer(
    [('one_hot_encoder', OneHotEncoder(categories='auto'), [0])],   
    remainder='passthrough'                        
                      )#3
x = np.array(ct.fit_transform(x), dtype = float)
y = labelencoder_x.fit_transform(y)

# <span style = "color:red" > Entrenamiento del dataset

In [8]:
#Se divide el dataset en el conjunto de entrenamiento y de testing
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.2, random_state = 0)

# <span style = "color:red"> Escalar datos

In [9]:
sc_x = StandardScaler()
x_train = sc_x.fit_transform(x_train)
x_test  = sc_x.transform(x_test)

In [10]:
x_train

array([[-1.        ,  2.64575131, -0.77459667,  0.26306757,  0.12381479],
       [ 1.        , -0.37796447, -0.77459667, -0.25350148,  0.46175632],
       [-1.        , -0.37796447,  1.29099445, -1.97539832, -1.53093341],
       [-1.        , -0.37796447,  1.29099445,  0.05261351, -1.11141978],
       [ 1.        , -0.37796447, -0.77459667,  1.64058505,  1.7202972 ],
       [-1.        , -0.37796447,  1.29099445, -0.0813118 , -0.16751412],
       [ 1.        , -0.37796447, -0.77459667,  0.95182631,  0.98614835],
       [ 1.        , -0.37796447, -0.77459667, -0.59788085, -0.48214934]])